* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration-line: none;
}
ul {
  text-decoration: none;
}
li {
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #e0e0e0;
  overflow-y: scroll;
}
#header {
  background-color: rosybrown;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  top: 0;
  z-index: 2000;
}
#footer {
  background-color: rosybrown;
}
.logo {
  height: 200px;
  width: 150px;
}

.social-media {
  height: 20px;
  width: 22px;
}
.logo {
  width: 60px;
  height: 60px;
}
.hotel {
  width: 250px;
  height: 250px;
}

.login {
  margin-right: 15px;
  z-index: 1000;
}
.login a {
  text-decoration: none;
  color: black;
}
.card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 4%;
}
.inner-card1 {
  margin: 20px;
  padding: 10px 20px 2px 20px;
  background-color: rgb(51, 115, 244);
  border-radius: 2px;
  cursor: pointer;
}
.inner-card1,
a {
  text-decoration: none;
}

.inner-card2 {
  margin: 20px;
  padding: 10px 20px 2px 20px;
  /* background-color: rgb(51, 115, 244); */
  border-radius: 2px;
  cursor: pointer;
}
.inner-card2:hover {
  background-color: rgb(51, 115, 244);
}

.inner-card1,
ul,
a,
li {
  color: black;
  font-weight: bold;
}

#map-view-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-view {
  display: flex;
}

.main-card-class {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.main-card-1 {
  display: flex;
  /* flex-direction: column; */
  /* width: 100%; */
  justify-content: space-evenly;
}

.inner-card-details {
  margin: 0 0 10px 0;
}

/* Responsive using media query */
@media screen and (max-width: 1100px) {
  .main-card-1 {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
  }

  .main-card-1 .card {
    margin: 2%;
    width: 70%;
  }
  .main-card-2 {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    justify-content: center;
  }
  .main-card-2 .card {
    margin: 2%;
    width: 70%;
  }
  .card1 {
    margin-top: 10%;
  }
}

@media screen and (max-width: 900px) {
  .map-view {
    width: 770px !important;
  }
}

@media screen and (max-width: 780px) {
  .map-view {
    width: 600px !important;
  }
}

@media screen and (max-width: 720px) {
  .map-view {
    width: 500px;
  }
}
@media screen and (max-width: 680px) {
  .map-view {
    width: 500px !important;
  }
}

@media screen and (max-width: 540px) {
  .map-view {
    width: 400px !important;
  }
}
@media screen and (max-width: 440px) {
  .map-view {
    width: 350px !important;
  }
}

@media screen and (max-width: 400px) {
  .map-view {
    width: 300px !important;
  }
  .inner-card1,
  li {
    font-size: 16px;
  }
  .inner-card2,
  a {
    font-size: 16px;
  }
}

@media screen and (max-width: 730px) {
  .main-card-1 .card {
    width: 90%;
  }
  .main-card-2 .card {
    width: 90%;
  }
  .main-card-2 {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    justify-content: center;
  }
  .card1 {
    margin-top: 15%;
  }
}

@media screen and (max-width: 600px) {
  .card1 {
    margin-top: 17%;
  }
  .main-card-2 .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-card-1 .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hotel {
    width: 461px;
    height: 250px;
  }

  #footer {
    background-color: rosybrown;
    width: 100%;
  }
  .main-card-2 {
    display: flex;
    align-items: center;
    margin-bottom: 15%;
    justify-content: center;
    position: relative;
    /* width: fit-content; */
  }
  .copy-rt {
    font-size: 15px;
  }
}

@media screen and (max-width: 540px) {
  .card1 {
    margin-top: 17%;
  }
  .main-card-1 .card {
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: auto;
  }
  .main-card-2 .card {
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: auto;
  }
  .hotel {
    width: 461px;
    height: 250px;
  }
  #footer {
    background-color: rosybrown;
    width: 100%;
  }
  h3 {
    font-size: 35px;
  }

  .inner-card-details,
  span {
    font-size: 27px;
  }
  .inner-card-details,
  a {
    font-size: 25px;
  }
  .inner-card-details,
  p {
    font-size: 25px;
  }
  .copy-rt {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .main-card-1 .card {
    width: 409px;
  }
  .hotel {
    width: 400px;
    height: 250px;
  }
  .copy-rt {
    font-size: 15px;
  }
  .main-card-2 {
    margin-bottom: 25%;
  }
}

@media screen and (max-width: 445px) {
  h3 {
    font-size: 30px;
  }
  .main-card-1 .card {
    width: 365px;
  }
  .hotel {
    width: 360px;
    height: 250px;
  }
  .inner-card1,
  li {
    font-size: 20px;
  }
  .inner-card2,
  a {
    font-size: 20px;
  }
}

@media screen and (max-width: 389px) {
  h3 {
    font-size: 30px;
  }
  .main-card-1 .card {
    width: 305px;
  }
  .hotel {
    width: 300px;
    height: 250px;
  }
  .inner-card1,
  li {
    font-size: 20px;
  }
  .inner-card2,
  a {
    font-size: 20px;
  }
}
