*{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
a{
  text-decoration: none;
  color: black;

}
ul{
  text-decoration: none;
}

body{
  background-color: #e0e0e0;
  overflow-y: scroll;
}
.logo{
  height: 200px;
  width: 150px;
}
body{
  background-color: #e0e0e0;
}
#header{
  background-color: rosybrown;

}
#footer{
  background-color: rosybrown;
  /* position: fixed; */
}
.social-media{
  height: 20px;
  width: 22px;
}
.logo{
  width: 60px;
  height: 60px;
}
.hotel{
  width: 500px;
  height: 500px;
}
#content{
  margin-top: 6%;
  margin-left: 4%;
  margin-right: 4%;
}
.lower-form{
  margin-top: 1%;
  margin-bottom: 2%;
}
.lower-form-header{
  margin-top: 1%;
  margin-bottom: 1%;
}
.lower-form-rating{
  margin-top: 1%;
  margin-bottom: 1%;
}
.lower-form-details{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
}
.lower-form-rating p{
  padding: 1%;
}

#header{
  background-color: rosybrown;
  /* position: relative; */
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}
.login{
  margin-right: 15px;
}
.login a{
  text-decoration: none;
  color: black;
}