*{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}
#main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.logo{
  height: 200px;
  width: 150px;
}
.state-img{
  height: 300px;
  width: 300px;
}
.social-media{
  height: 20px;
  width: 22px;
}

.logo{
  width: 60px;
  height: 60px;
}
body{
  background-color: #e0e0e0;
  overflow-y: scroll;
}
#header{
  background-color: rosybrown;
  position: relative;
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2000;
}

#city-div{
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.login{
  margin-right: 15px;
  z-index: 2000;
}


.copy-rt{
  font-size: 10px;
}

#footer{
  background-color: rosybrown;
  position: fixed;
  width: 100vw;
  padding: 15px;
  display: flex;
  /* flex-direction: column;  */
  height: auto;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2000;

}

.footer-inner{
    display: flex;
    /* flex-direction: row; */
    flex-direction:row;
    margin: 0 15px 0 15px;
    width: 100%;
    align-items: center;
    /* justify-content: space-around; */
}

#city{
  outline: none;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  width:400px;
}

.view-more{
  text-align: center;
  margin-bottom: 10%;
  margin-top: 1%;
}

.copy-rt{
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.contact{
  width: 100%;
  /* display: flex; */
}
.social{
  width: 100%;
  /* display: flex; */
  text-align: right;
  margin-right: inherit;

}
.city-cards{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
  
}

.inner-city-card-img{
  width: 150px;
  height: 150px;
  /* padding: 4%; */
  border-radius: 25%;

}

.city-cards .state-img ,a{
  width: 150px;
  height: 150px;
  /* padding: 4%; */
  border-radius: 25%;
}
.inner-city-cards .state-img{
  box-shadow: 10px 10px 10px grey;
}
.inner-city-cards{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-city-card-img{
  position: relative;
}
.city-name{
  position: absolute;
  display: none;
  color:  #f1f1f1;
}

.inner-city-cards .state-img:hover{
  opacity: .8;  
  background-color: rgba(0, 0, 0, 0.721);
}
.inner-city-cards:hover .city-name{
  display: block;
}



/* Responsive using media query */
@media screen and (max-width:650px) {
  .city-cards {
    flex-direction: column;
}
.inner-city-cards {

  margin-bottom: 35px;
}
.view-more {
  text-align: center;
  margin-bottom: 20%;
  margin-top: 1%;
}
#city {
  width: 320px;
}
}

@media screen and (max-width:540px) {

#city {
  width: 290px;
}
}

@media screen and (max-width:450px) {

  #city {
    width: 250px;
  }
  .view-more {
    text-align: center;
    margin-bottom: 25%;
    margin-top: 1%;
  }
  .footer-inner {
    margin: 0 0px 0 0px;
}
  }

  @media screen and (max-width:410px) {

    #city {
      width: 220px;
    }
    .view-more {
      text-align: center;
      margin-bottom: 25%;
      margin-top: 1%;
    }
    .footer-inner {
      margin: 0 0px 0 0px;
  }
  #footer {
    padding: 13px 4px 13px 4px;
}
    }