*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #e0e0e0;
}
#header{
  background-color: rosybrown;
}
#footer{
  background-color: rosybrown;
}
.logo{
  height: 200px;
  width: 150px;
}

.social-media{
  height: 20px;
  width: 22px;
}
.logo{
  width: 60px;
  height: 60px;
}
.hotel{
  width: 250px;
  height: 250px;
  
}
.card1{
  margin: 3%;
}
.card{
  margin: 2%;
  width: 40%;
  background-color: rgb(132,136,139);
}