*{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
a{
  text-decoration: none;
  color: black;

}
ul{
  text-decoration: none;
}
li{
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #e0e0e0;
  overflow-y: scroll;
}
#header{
  background-color: rosybrown;
  /* position: relative; */
  display: flex;
  justify-content:space-between;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  top: 0;
}
#footer{
  background-color: rosybrown;
}
.logo{
  height: 200px;
  width: 150px;
}

.social-media{
  height: 20px;
  width: 22px;
}
.logo{
  width: 60px;
  height: 60px;
}
.hotel{
  width: 250px;
  height: 250px;
  
}


.login{
  margin-right: 15px;
}
.login a{
  text-decoration: none;
  color: black;
}
.card1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 4%;
}
.inner-card1{
  margin: 20px;
}

.inner-card1 ul a li{
  color: black;
  font-weight: bold;
}

#map-view{
  display: none;
}

.main-card-class{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.main-card-1 {
  display: flex;
  /* flex-direction: column; */
  /* width: 100%; */
  justify-content: space-evenly;
}

.card{
  margin: 2%;
  width: 40%;
  background-color: lightgrey;
  display: flex;
}
.card-details{
  display: flex;
  flex-direction: column;
  margin: 4%;
}
/* .card-details , div{
  padding: 2%;
} */
.inner-card-details{
  margin: 0 0 10px 0;
}
.main-card-2 {
  display: flex;
  /* flex-direction: column; */
  /* width:100%; */
  /* justify-content: start; */
  margin-left: 57px;
  margin-bottom: 5%;
}