* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #e0e0e0;
}
#header {
  background-color: rosybrown;
}
#footer {
  background-color: rosybrown;
}
.logo {
  height: 200px;
  width: 150px;
}
.social-media {
  height: 20px;
  width: 22px;
}
.logo {
  width: 60px;
  height: 60px;
}
a:hover {
  text-decoration: none;
  color: black;
}

#header {
  background-color: rosybrown;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}
.login {
  margin-right: 15px;
}
.login a {
  text-decoration: none;
  color: black;
}
#content {
  margin-top: 9%;
  /* margin-left: 4%; */
  /* margin-right: 4%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9%;
}

.inner-content {
  margin: 2%;
  width: 42.5%;
  background-color: gray;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.inner-content-img {
  max-height: 300px;
  max-width: 270px;
}
.hotel {
  max-height: 300px;
  max-width: 270px;
}
.details {
  margin: 2%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1% 2%;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rosybrown;
}
.social {
  margin-right: 3%;
}
.inner-content-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  margin-left: 3%;
  padding: 3%;
}

.box,
b {
  font-family: cursive;
}

.btn1 {
  padding: 10px;
}

.btn1,
a {
  border: 1x solid green;
  color: white;
  background-color: green;
  margin: 5px 6px;
}

/* Responsive using media query */
@media screen and (max-width: 1400px) {
  .inner-content {
    margin: 2%;
    width: 54.5%;
  }
}

@media screen and (max-width: 1060px) {
  .inner-content {
    margin: 2%;
    width: 59.5%;
  }
}
@media screen and (max-width: 970px) {
  .inner-content {
    margin: 2%;
    width: 65%;
  }
  #content {
    margin-top: 15%;
    margin-bottom: 9%;
  }
}

@media screen and (max-width: 880px) {
  .inner-content {
    margin: 2%;
    width: 70%;
  }
  #content {
    margin-top: 15%;
    margin-bottom: 9%;
  }
}

@media screen and (max-width: 815px) {
  .inner-content {
    margin: 2%;
    width: 80%;
  }
  #content {
    margin-top: 15%;
    margin-bottom: 9%;
  }
  .details {
    margin: 2%;
    padding: 1% 5%;
    width: 92%;
    flex-direction: column;
    align-items: baseline;
  }
  .box,
  p {
    font-size: 25px;
  }
  .inner-content {
    margin: 2%;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .hotel {
    max-height: 390px;
    max-width: 600px;
  }
  .inner-content-img {
    max-height: 390px;
    max-width: 600px;
    display: flex;
    /* align-items: baseline; */
    align-items: center;
    justify-content: center;
  }
  .details {
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 600px) {
  .hotel {
    max-height: 300px;
    max-width: 500px;
  }
  .inner-content-img {
    max-height: 300px;
    max-width: 500px;
    display: flex;
    /* align-items: baseline; */
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 460px) {
  .hotel {
    max-height: 250px;
    max-width: 400px;
  }
  .inner-content-img {
    max-height: 250px;
    max-width: 400px;
    display: flex;
    /* align-items: baseline; */
    align-items: center;
    justify-content: center;
  }
}
